name: workflow scan

on:
  workflow_call:
    inputs:
      registry:
        description: 'container registry address'
        required: true
        type: string
      severity:
        description: 'vulnerability severity'
        required: false
        type: string
        default: 'CRITICAL,HIGH,MEDIUM'
      check-scan-error:
        description: 'check for scan errors'
        required: false
        type: boolean
        default: true
      minor-version-offset:
        description: 'if non-zero, scan images of the latest minor version minus this offset'
        required: false
        type: string
        default: '0'
    secrets:
      pull-token:
        description: 'GitHub Container Registry read-only token'
        required: true

jobs:
  trivy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Login to GitHub Container Registry
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.pull-token }}
      - name: Latest release
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MINOR_VERSION_OFFSET: ${{ inputs.minor-version-offset }}
        with:
          script: |
            // This script will get the latest release of the repo to figure out
            // the latest minor version. Then, if a minor version offset is provided,
            // it will find the latest patch release for the latest minor version minus the offset.
            const minorVersionOffset = parseInt(process.env.MINOR_VERSION_OFFSET || '0', 10);
            const releases = await github.rest.repos.listReleases({
              owner: context.repo.owner,
              repo: context.repo.repo,
            });
            const semver = releases.data
              .map(release => release.tag_name)
              .filter(tag => /^v\d+\.\d+\.\d+$/.test(tag))
              .map(tag => tag.slice(1)) // remove 'v' prefix
              .map(tag => {
                const [major, minor, patch] = tag.split('.').map(num => parseInt(num, 10));
                return { major, minor, patch };
              });
            semver.sort((a, b) => {
              if (a.major !== b.major) return b.major - a.major;
              if (a.minor !== b.minor) return b.minor - a.minor;
              return b.patch - a.patch;
            });
            let targetMinor = semver[0].minor - minorVersionOffset;
            let latestPatch = semver
              .filter(v => v.minor === targetMinor)
              .sort((a, b) => b.patch - a.patch)[0];
            if (!latestPatch) {
              throw new Error(`No release found for minor version offset ${minorVersionOffset}`);
            }
            const version = `v${latestPatch.major}.${latestPatch.minor}.${latestPatch.patch}`;
            const versionWithoutPatch = `v${latestPatch.major}.${latestPatch.minor}`;
            core.setOutput('version', version);
            core.setOutput('version-without-patch', versionWithoutPatch);
      - name: Setup Flux
        uses: fluxcd/flux2/action@5350425cdcd5fa015337e09fa502153c0275bd4b #v2.4.0
        with:
          version: ${{ steps.release.outputs.version }}
      - name: Export images
        id: images
        run: |
          REGISTRY="${{ inputs.registry }}" \
          VERSION="${{ steps.release.outputs.version }}" \
          .github/workflows/export-images.sh
      - name: Scan source-controller
        id: sc
        continue-on-error: true
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # v0.29.0
        with:
          image-ref: ${{ steps.images.outputs.sc }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: ${{ inputs.severity }}
          trivyignores: .trivyignore,releases/release-${{ steps.release.outputs.version-without-patch }}.trivyignore
        env:
          TRIVY_USERNAME: ${{ github.actor }}
          TRIVY_PASSWORD: ${{ secrets.pull-token }}
      - name: Scan kustomize-controller
        id: kc
        continue-on-error: true
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # v0.29.0
        with:
          image-ref: ${{ steps.images.outputs.kc }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: ${{ inputs.severity }}
          trivyignores: .trivyignore,releases/release-${{ steps.release.outputs.version-without-patch }}.trivyignore
        env:
          TRIVY_USERNAME: ${{ github.actor }}
          TRIVY_PASSWORD: ${{ secrets.pull-token }}
      - name: Scan helm-controller
        id: hc
        continue-on-error: true
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # v0.29.0
        with:
          image-ref: ${{ steps.images.outputs.hc }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: ${{ inputs.severity }}
          trivyignores: .trivyignore,releases/release-${{ steps.release.outputs.version-without-patch }}.trivyignore
        env:
          TRIVY_USERNAME: ${{ github.actor }}
          TRIVY_PASSWORD: ${{ secrets.pull-token }}
      - name: Scan notification-controller
        id: nc
        continue-on-error: true
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # v0.29.0
        with:
          image-ref: ${{ steps.images.outputs.nc }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: ${{ inputs.severity }}
          trivyignores: .trivyignore,releases/release-${{ steps.release.outputs.version-without-patch }}.trivyignore
        env:
          TRIVY_USERNAME: ${{ github.actor }}
          TRIVY_PASSWORD: ${{ secrets.pull-token }}
      - name: Scan image-reflector-controller
        id: irc
        continue-on-error: true
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # v0.29.0
        with:
          image-ref: ${{ steps.images.outputs.irc }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: ${{ inputs.severity }}
          trivyignores: .trivyignore,releases/release-${{ steps.release.outputs.version-without-patch }}.trivyignore
        env:
          TRIVY_USERNAME: ${{ github.actor }}
          TRIVY_PASSWORD: ${{ secrets.pull-token }}
      - name: Scan image-automation-controller
        id: iac
        continue-on-error: true
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # v0.29.0
        with:
          image-ref: ${{ steps.images.outputs.iac }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: ${{ inputs.severity }}
          trivyignores: .trivyignore,releases/release-${{ steps.release.outputs.version-without-patch }}.trivyignore
        env:
          TRIVY_USERNAME: ${{ github.actor }}
          TRIVY_PASSWORD: ${{ secrets.pull-token }}
      - name: Scan source-watcher
        id: sw
        if: steps.images.outputs.sw != ''
        continue-on-error: true
        uses: aquasecurity/trivy-action@18f2510ee396bbf400402947b394f2dd8c87dbb0 # v0.29.0
        with:
          image-ref: ${{ steps.images.outputs.sw }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: ${{ inputs.severity }}
          trivyignores: .trivyignore,releases/release-${{ steps.release.outputs.version-without-patch }}.trivyignore
        env:
          TRIVY_USERNAME: ${{ github.actor }}
          TRIVY_PASSWORD: ${{ secrets.pull-token }}
      - name: Scan result
        run: |
          echo "source-controller: ${{ steps.sc.outcome }}"
          echo "image: ${{ steps.images.outputs.sc }}"
          echo "kustomize-controller: ${{ steps.kc.outcome }}"
          echo "image: ${{ steps.images.outputs.kc }}"
          echo "helm-controller: ${{ steps.hc.outcome }}"
          echo "image: ${{ steps.images.outputs.hc }}"
          echo "notification-controller: ${{ steps.nc.outcome }}"
          echo "image: ${{ steps.images.outputs.nc }}"
          echo "image-reflector-controller: ${{ steps.irc.outcome }}"
          echo "image: ${{ steps.images.outputs.irc }}"
          echo "image-automation-controller: ${{ steps.iac.outcome }}"
          echo "image: ${{ steps.images.outputs.iac }}"
          if [ "${{ steps.images.outputs.sw }}" != "" ]; then
            echo "source-watcher: ${{ steps.sw.outcome }}"
            echo "image: ${{ steps.images.outputs.sw }}"
          fi
      - name: Check result
        shell: bash
        if: inputs.check-scan-error && (steps.sc.outcome == 'failure' || steps.kc.outcome == 'failure' || steps.hc.outcome == 'failure' || steps.nc.outcome == 'failure' || steps.irc.outcome == 'failure' || steps.iac.outcome == 'failure' || (steps.images.outputs.sw != '' && steps.sw.outcome == 'failure'))
        run: |
          echo "One or more controllers have vulnerabilities"
          exit 1
